Product name: {{ order.product.name }}
<br>

Description: {{ order.product.description }}
<br>

Quantity: {{ order.quantity }}
<br>

Price: {{ order.price }}
<br>

Status: {{ order.state.value }}
<br>

Create time: {{ order.create_time }}
<br>

Last update time: {{ order.last_update_time }}
<br>

{% if order.accept_time %}
Accepted on: {{ order.accept_time }}
<br>
{% endif %}

{% if order.payment_time %}
Payment received on: {{ order.payment_time }}
<br>
{% endif %}

{% if order.shipping_time %}
Shipped out on: {{ order.shipping_time }}
<br>
{% endif %}

Transaction successful!
