<!DOCTYPE html>
<html lang="en">
<head>
<title>
{% block title %}Shop{% endblock %}
</title>
</head>
<body>
<a href="/">Home</a>
{% if user.is_authenticated %}
<a href="/logout/">Logout</a>
{% endif %}
{% if not user.is_authenticated %}
<a href="/login/">Login</a>
{% endif %}
<br>
<br>
<a href="/shopping/add">Add product</a>
<br>
<br>
{% block content %}{% endblock %}
{% if product %}
	<ul>
	{% for n in product %}
    <li><a href="/shopping/get/{{ n.id }}/">{{ n.name }}</a></li>
	{% endfor %}
	</ul>
{% else %}
	<p>No products are currently chosen. Click "Show all products" to display all products.</p>
{% endif %}
<br>
<a href="/shopping/get">Show all products</a>
</body>
</html>