<!DOCTYPE html>
<html lang="en">
<head>
<title>
{% block title %}Shop{% endblock %}
</title>
</head>
<body>
<a href="/">Home</a>
{% if user.is_authenticated %}
<a href="/logout/">Logout</a>
{% endif %}
{% if not user.is_authenticated %}
<a href="/login/">Login</a>
{% endif %}
<br>
<br>
<a href="/buying/add">Add order</a>
<br>
<br>
{% block content %}{% endblock %}
{% if order %}
	<ul>
	{% for n in order %}
    <li><a href="/buying/get/{{ n.id }}/">{{ n.name }}</a></li>
	{% endfor %}
	</ul>
{% else %}
	<p>No orders are currently chosen. Click "Show all orders" to display all orders.</p>
{% endif %}
<br>
<a href="/buying/get">Show all orders</a>
</body>
</html>