{% extends "base.html" %}
{% load socialaccount %}
{% block content %}

<div class="container my-4 col-sm-6 col-sm-offset-3 login">
    <form action="/login/" method="post">
        {% csrf_token %}
        {% for field in form %}
            <div class="mb-3">
                <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}:</label>
                <p>{{ field }}</p>
            </div>
        {% endfor %}
        <button type="submit" class="btn btn-primary">Login</button>
        <a href="{% provider_login_url 'google' %}"><button type="button" class="btn btn-primary">Login With Google</button></a>
    </form>
</div>
{% endblock %}

